@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-image: url("images/daniel-leone-g30P1zcOzXo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container,
.register-container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.register-container {
  display: none;
}

.homepage {
  display: none;
}

.login-header,
.register-header {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

#login-email,
#login-password,
#register-email,
#register-password {
  font-weight: 500;
  font-size: 15px;
  border: 0;
  display: block;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 25px;
  border-radius: 25px;
  width: 225px;
  transition: 0.25s;
}

#login-email:focus,
#login-password:focus,
#register-email:focus,
#register-password:focus {
  width: 250px;
}

#login-button,
#register-button {
  font-weight: 500;
  font-size: 15px;
  border: 0;
  display: block;
  margin: 15px auto;
  background-color: #b8c1c3;
  padding: 15px 25px;
  border-radius: 25px;
  box-sizing: content-box;
  width: 225px;
  transition: 0.25s;
  cursor: pointer;
}

.login-container p,
.register-container p {
  margin-bottom: 10px;
  font-size: 15px;
}

.register-link,
.login-link {
  color: black;
  font-size: 15px;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
